<md-toolbar>
  <div class="md-toolbar-tools">
    <h1>{{title}}</h1>
    <span flex></span>
    <span ng-show="remainingTime"><md-icon>timer</md-icon> {{remainingTime}}</span>
    <span flex></span>
    <div>
      <md-button href="/" class="md-fab md-mini md-icon-button" ng-show="!question" title="Accueil">
        <md-icon>home</md-icon>
      </md-button>
      <md-button ng-click="confirmCancel()" class="md-warn md-fab md-mini md-icon-button" ng-show="question" title="Annuler le quizz">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </div>
</md-toolbar>
