<div layout="column" layout-fill>
  <ng-include src="'static/templates/toolbar.html'"></ng-include>
  <md-content layout-padding>
    <form name="newForm">
      <div layout="column">
        <md-input-container>
          <label>Nombre de questions</label>
          <input type="number" ng-model="questions" required min="1" max="{{maxQuestions}}">
        </md-input-container>
        <md-input-container>
          <label>Temps maximum (minutes)</label>
          <input type="number" ng-model="time" required min="1" max="{{maxQuestions * 2}}">
        </md-input-container>
        <md-button class="md-primary md-raised" ng-click="start()">Démarrer</md-button>
      </div>
    </form>
  </md-content>
</div>
